# --- Python Internals ---
__pycache__/
*.py[cod]

# --- Operating System Files ---
.DS_Store

# --- Application Data ---
*.db

# --- Generated Reports ---
exports/

# --- Environment / Config ---
venv/
env/
.env